.whole{
  background-image:url('https://images.pexels.com/photos/926985/pexels-photo-926985.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
  
}
.jumbotron{
  background-color: blanchedalmond;
  font-family:'Merriweather', serif;
}