
<div class="container">
    <div class="row">
      <div class="card" style="width:100%" > 
      <div class="w-100">
       <div class="col">
       
         <ul>
         <li >{{quote.name}}</li> 
         <li >{{quote.author}}</li> 
         <li >{{quote.quoteText}}</li> 
         </ul> 

         

        <button style="float:left" (click)='thumbsUp()'>Like {{upvote}} </button>
        <button style="float:right" (click)='thumbsDown()'>Dislike {{downvote}}</button>

        </div>
       </div>
      </div>
    </div> 

</div>
