<div class="container-fluid">
    
</div>
  <div class="container">
    <div class="row">
      <div class=" card" style="width:100%">   
        <form  (ngSubmit)='submitQuote()' #quoteForm='ngForm'> 
            <div class="form-group">
              <label for="quote">Write Down your quote below</label>
              <textarea class="form-control" id="description" rows="10" [(ngModel)]="newQuote.quoteText" name="quote"  #quote="ngModel" required></textarea>
              <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
                <p>This field is required</p>
              </div>
            </div>
            <div class="form-group">
              <label for="Author">Author</label>
              <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel"required>
              <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>This field is required</p>
              </div>
            </div>
            <div class="form-group">
              <label for="name">Your Name</label>
              <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>
              <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>This field is required</p>
              </div>
            </div>
            <button type="submit" class="btn btn-success btn-lg">Add Quote</button>


          </form>
      </div>
    </div>
  
        
    
  

  </div>
  
  
